@model IEnumerable<BookEvent.Models.RegisterUser>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Users</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
