@model BookEvent.Models.Comment

@{
    ViewData["Title"] = "Details";
}


<div style="background-color:antiquewhite ; padding:15px; border:15px; border-color:saddlebrown; border-radius:15px; opacity:0.85">

    <h1>Details</h1>

    <div>
        <h4>Comment</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EventId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EventId)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.CommentAdded">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    </div>